In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
data = pd.read_csv(r"D:\A\Desktop\StudyFlow\比赛\游戏玩家付费金额预测大赛\tap4fun竞赛数据\tap4fun竞赛数据\tap_fun_train.csv", parse_dates=True)

In [4]:
data.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,1,2018-02-02 19:47:15,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,1593,2018-01-26 00:01:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,1594,2018-01-26 00:01:58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,1595,2018-01-26 00:02:13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,1596,2018-01-26 00:02:46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [5]:
object_columns_df = data.select_dtypes(include=["object"])
print(object_columns_df.iloc[1])

register_time    2018-01-26 00:01:05
Name: 1, dtype: object

In [6]:
data['register_time_month'] = data.register_time.str[5:7]
data['register_time_day'] = data.register_time.str[8:10]
data = data.drop(['register_time'],axis=1)

In [7]:
data.head()

,user_id,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,...,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price,register_time_month,register_time_day
0,1,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,...,0,0,0,0,0.333333,0.0,0,0.0,02,02
1,1593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.333333,0.0,0,0.0,01,26
2,1594,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1.166667,0.0,0,0.0,01,26
3,1595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,3.166667,0.0,0,0.0,01,26
4,1596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,2.333333,0.0,0,0.0,01,26

In [8]:
data[['register_time_month','register_time_day']] = data[['register_time_month','register_time_day']].apply(pd.to_numeric)

In [9]:
data.head()

,user_id,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,...,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price,register_time_month,register_time_day
0,1,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,...,0,0,0,0,0.333333,0.0,0,0.0,2,2
1,1593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.333333,0.0,0,0.0,1,26
2,1594,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1.166667,0.0,0,0.0,1,26
3,1595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,3.166667,0.0,0,0.0,1,26
4,1596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,2.333333,0.0,0,0.0,1,26

In [10]:
data['register_time_count'] = data['register_time_month'] * 31 + data['register_time_day']

In [11]:
data.head()

,user_id,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,...,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price,register_time_month,register_time_day,register_time_count
0,1,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,...,0,0,0,0.333333,0.0,0,0.0,2,2,64
1,1593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0.333333,0.0,0,0.0,1,26,57
2,1594,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1.166667,0.0,0,0.0,1,26,57
3,1595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,3.166667,0.0,0,0.0,1,26,57
4,1596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,2.333333,0.0,0,0.0,1,26,57

In [12]:
data.shape

(2288007, 111)

In [13]:
import copy
data_7_pay = copy.copy(data[data['pay_price']>0])
data_7_pay.shape

(41439, 111)

In [14]:
base_dir = r"D:\A\Desktop\StudyFlow\比赛\游戏玩家付费金额预测大赛\tap4fun竞赛数据\tap4fun竞赛数据"

In [15]:
data_7_pay.to_csv(os.path.join(base_dir, "tap_fun_train_7_pay.csv"))

In [16]:
data_7_pay.head()

,user_id,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,...,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price,register_time_month,register_time_day,register_time_count
25,1617,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,...,0,0,0,44.666667,0.99,1,0.99,1,26,57
40,1632,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,...,6,6,6,199.333333,2.97,3,4.96,1,26,57
47,1639,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,...,0,0,0,109.333333,12.97,3,12.97,1,26,57
86,1678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,127.833333,0.99,1,0.99,1,26,57
119,1711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,203.166667,0.99,1,0.99,1,26,57

In [17]:
data['7_45_same_pay_label'] = (data['pay_price'] == data['prediction_pay_price'])
data['7_45_same_pay_label']=data['7_45_same_pay_label'].map({True:1,False:0})

data['7_45_same_pay_label'].value_counts()

1    2272149
0      15858
Name: 7_45_same_pay_label, dtype: int64

In [18]:
# -------------------------读取train set中前7天有付款的玩家明细
data = pd.read_csv(os.path.join(base_dir, "tap_fun_train_7_pay.csv"), index_col=0, parse_dates=True)

print(data.shape)  #(41439, 111)

# -------------------------打标签
data['7_45_same_pay_label'] = (data['pay_price'] == data['prediction_pay_price'])
data['7_45_same_pay_label']=data['7_45_same_pay_label'].map({True:1,False:0})

data['7_45_same_pay_label'].value_counts()

# 1    30130   前7天给，后面都不付款了
# 0    11309   前7天给了，后续还给的。

# 删掉不需要的字段，比如45天的付费金额（对于test set是没有的字段），user_id
data = data.drop(['prediction_pay_price', 'user_id'],axis=1)
data.shape

(41439, 111)

(41439, 110)

In [30]:
from sklearn.decomposition import PCA
pca = PCA(n_components=0.0001)
pca.fit(data)
print(pca.explained_variance_ratio_)

[0.96535619]

In [21]:
pca.explained_variance_ratio_.shape

(110,)

In [29]:
pca.n_components_

1

In [23]:
t = pca.explained_variance_ratio_

In [25]:
list(t)

[0.965356194038158,
 0.01851281576523507,
 0.007706618349704216,
 0.0031809163880500953,
 0.0023184305382093233,
 0.0015569000339879268,
 0.0009583306047404601,
 0.00016509172614258665,
 0.00014786930045292035,
 9.601903076256681e-05,
 6.957942988464212e-07,
 5.618272549231092e-08,
 2.0652538932023103e-08,
 9.721917238176858e-09,
 9.084469351550244e-09,
 7.701354074904359e-09,
 4.485746342933632e-09,
 3.88777027148807e-09,
 1.6747096329166179e-09,
 1.279236868630207e-09,
 9.299744397198085e-10,
 7.683713684404486e-10,
 6.629326224550409e-10,
 4.4868261241549983e-10,
 3.1551299587736756e-10,
 3.037178156360574e-10,
 1.7067156828447343e-10,
 1.256487697392078e-10,
 1.7355566319182297e-11,
 8.762803557696124e-12,
 3.8573858918238754e-12,
 1.8531653181514696e-12,
 8.37704070857668e-13,
 5.924492976919892e-13,
 5.689254274759553e-13,
 3.684880156771336e-13,
 2.4679460321962318e-14,
 1.6559733085702892e-14,
 1.3796299601778145e-14,
 7.141326809891264e-15,
 3.3886263866719144e-15,
 1.7479084735973141e-15,
 1.4230283598242075e-15,
 1.044002587771146e-15,
 8.643412582778511e-16,
 7.83999481527866e-16,
 7.364811278527394e-16,
 6.665213892919927e-16,
 5.66820947846787e-16,
 5.440433817208708e-16,
 5.334344301599414e-16,
 5.096329053439714e-16,
 4.8535096944823125e-16,
 4.57585624131629e-16,
 4.371380162180199e-16,
 4.3075508517914146e-16,
 4.108195909058177e-16,
 3.876666101202802e-16,
 3.6288300144899524e-16,
 3.515051547374807e-16,
 3.077221213323879e-16,
 2.9685319240696066e-16,
 2.441284013543843e-16,
 2.3270333667561955e-16,
 2.1118807334539022e-16,
 1.882661577280295e-16,
 1.594928385162678e-16,
 1.3171861325205867e-16,
 1.2457674056873335e-16,
 1.0614851172684482e-16,
 8.778778476554679e-17,
 7.839904531181626e-17,
 5.967079528873928e-17,
 5.834555036643447e-17,
 4.954061218280656e-17,
 4.547789396095768e-17,
 4.2762529011102573e-17,
 3.9806319917092e-17,
 3.444158321084069e-17,
 3.061231972260956e-17,
 2.773312206606387e-17,
 2.2686632201293277e-17,
 1.9006362136711038e-17,
 1.717368330167884e-17,
 1.2814623551710809e-17,
 1.2057036194579632e-17,
 1.1467016851569867e-17,
 8.097315583700674e-18,
 6.41284892854999e-18,
 6.1245406225653615e-18,
 5.4432609779549106e-18,
 5.304399248673287e-18,
 4.265752120430793e-18,
 3.8015472005122615e-18,
 3.587429062461373e-18,
 3.22468114434433e-18,
 2.492184152384042e-18,
 2.11170534342299e-18,
 1.792957461429175e-18,
 1.1145419042346057e-18,
 4.727759215490925e-19,
 4.2399412019573987e-19,
 2.820623288877267e-19,
 1.7794669806900062e-19,
 6.680419565198952e-20,
 4.51956805061342e-20,
 3.9466227152711267e-20,
 1.9976123383946225e-20,
 9.247896178225611e-21,
 7.567206681494483e-33]

In [27]:
data.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,register_time_month,register_time_day,register_time_count,7_45_same_pay_label
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0,0,0,44.666667,0.99,1,1,26,57,1
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,6,6,6,199.333333,2.97,3,1,26,57,0
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,0,0,0,109.333333,12.97,3,1,26,57,1
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,127.833333,0.99,1,1,26,57,1
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,203.166667,0.99,1,1,26,57,1